@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root{
    --orange: 25, 97%, 53%;
    --white: 0, 0%, 100%;
    --lightgrey: 217, 12%, 63%;
    --mediumgrey: 216, 12%, 54%;
    --darkblue: 213, 19%, 18%;
    --verydarkblue: 216, 12%, 8%;

    --color-orange: hsl(var(--orange));
    --color-white: hsl(var(--white));
    --color-lightgrey: hsl(var(--lightgrey));
    --color-mediumgrey: hsl(var(--mediumgrey));
    --color-darkblue: hsl(var(--darkblue));
    --color-verydarkblue: hsl(var(--verydarkblue));

    --padding: 2em;
    --gap: 1em;
}



*, *::after, *::before{
    box-sizing: border-box;
}

html, body{
    color: white;
    font-family: "Overpass";
    margin: 0;
    font-size: 15px;
}

html{
    display: flex;
    height: 100%;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: var(--color-verydarkblue);
}

.circle{
    background-color: hsl(var(--mediumgrey), 0.2);
    width: 3em;
    border-radius: 50%;
    aspect-ratio: 1/1;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    color:var(--color-lightgrey);
    font-weight: 700;
    font-family: inherit;
    margin:0;
}

div.step{
    display:flex;
    flex-direction: column;
    gap: var(--gap);
}

p{
    margin:0;
    color: var(--mediumgrey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
}

.btn{
    cursor: pointer;
}



main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border-radius: 20px;
    padding: var(--padding);
    height: auto;
    background: hsl(var(--darkblue), 1);
}

h1{
    margin:0;
    font-size: 1.5em;
    font-weight: 700;
}

.rating-buttons{
    margin-top: var(--gap, 2);
    
    display:flex;
    flex-direction: column;
    gap: calc(var(--gap)*2);
}

.rating{
    display:flex;
    justify-content: space-evenly;
}


.circle.btn:hover{
    background-color: var(--color-mediumgrey);
    color:var(--white);
    
}

.circle.btn.active{
    background-color:var(--color-orange);
    color:var(--white);
}

#btnSubmit{
    border: none;
    width: 100%;
    border-radius: 25px;
    padding: 1em;
    color: var(--color-white);
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: var(--color-orange);
    
}

#btnSubmit:focus{
    background-color: var(--color-white);
    color: var(--color-orange);
}


div.step[data-step="two"]{
    align-items:center;
}

.pill{
    border-radius: 25px;
    padding: 5px 10px;
    color: var(--color-orange);
    font-weight: 700;
    background-color: hsl(var(--mediumgrey), 0.2);
}

.message > p{
    padding: 0px var(--gap);
    text-align: center;
}

.message{
    margin: 0px 0px var(--gap) 0px ;
    display:flex;
    flex-direction: column;
    align-items:center;
}

@media screen and (min-width: 800px) {
    main{
      width: 400px;
    }

    .rating{
        justify-content: space-between;
    }
  }